*{ 
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: white;
  }
  body {
    background-color:#000000;
  }
  
  .navbar{
    margin:2em;
  }
  
  ul{
    margin:0; 
    padding:0;
   
  }
  @media (min-width: 800px) {
      .menu{
        display:flex;  
        flex-direction:row;
      }
  }
    li{
      display:block;
      list-style-type:none;
      text-transform:uppercase;
    }
    
    li a{
      display:flex;
      text-align:center;
      text-decoration:none;
      color:rgb(255, 254, 254);
      padding:1rem;
    }
    
    li a:hover{
      background:#b8e71c;
      color:black;
    }

    @media (min-width: 800px) {
      .menuItem > a:after{
        padding:1px;
      }
    }
  
  nav ul ul {
      display: none;
  }
  
  nav ul li:hover > ul {
    display:block;
  }

  ul li.active a {
    background-color: #b8e71c;
    color: black;
  }

  @media (min-width: 100px) {
    .logo img {
      float:right;
      padding-right: 80px;
      margin-top: -30px;
    }
      }

/* carousel */
      .carousel {
        width: 500px;
        height: 300px;
        background: yellowgreen;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        overflow: hidden;
      }

      .image {
        width: 1500px;
        background-color: violet;
        height: 300px;
        clear: both;
        position: relative;

      }

      .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
      #slide1:target ~ .image {
        left: 0px;
      }
      #slide2:target ~ .image{
        left: -500px;
      }
      #slide3:target ~ .image {
        left: -1000px;
      }
      .button {
        position: relative;
        top: -20px;
        left: 45%;
      }
      .button a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: rgb(255, 255, 255, 0.5);
      }


      /* Aboutus */

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
      }

      .card {
        width: 300px;
        height: 300px;
        perspective: 1000px;
        border-radius: 10%;
        border-style: groove;
        text-align: center;
        background-color: #b8e71c;
        border-color: #000000;
        
      }
      .card h2 {
        color: #000000;
      }
      .card-inner {
        display: grid;
        grid-template-columns: 1frs;
        transition: all 1.3s ease;
        transform-style: preserve-3d;
        text-align: center;
        position: relative;  
        justify-content: center; 
        
        /* position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d; */

      }
      .card-front {
        grid-area: 1 / 1;
        transform: rotateY(180deg);
        background-color: black;
        border-radius: 12%;
      }
      .card-back {
        grid-area: 1 / 1;
        border-radius: 12%;
      }

      /* FIX CARD IMAGES WIDTH */
      .card-inner img {
        width: 15rem;
        border-radius: 12%;
      }

      .card:hover .card-inner {
        transform: rotateY(180deg);
      }

      .card-back {
        background-color: #000000;
        transform: rotateY(180deg);
      }
}

